<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>入力テンプレートの作成</title>
    <base target="_blank">
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" type="text/css" href="../almond.lite.css">
    <link rel="stylesheet" type="text/css" href="../additional.css">
</head>

<body>
    <!-- ============================== -->
    <div class="container">

        <h1>索引拾いのテンプレート生成</h1>


        <div id="app">
            <div class="ui">
                <textarea placeholder="paste here!" v-model="content"></textarea>
                <button @click="generate">実行</button>
            </div>

            <div class="result-markup limit-height">
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>index</th>
                            <th>ページ</th>
                            <th>項目</th>
                            <th>見よ先</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(line, idx) in lines" :key="idx">
                            <td>{{ line.index }}</td>
                            <td>{{ line.page }}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <button @click="copy">コピー</button>
        </div>

        <ul>
            <li>索引拾いのための Excel テンプレートを作成します。</li>
            <li>各ページの項目数を下図のように Excel に整理して下記ボックスに貼り付けてください。</li>
        </ul>
        <img src="./image/img_newtemplate.png">
        <ul>
            <li>下図のように<code>index</code>列に条件付き書式で<code>偶数の場合に背景色変更</code>という設定をするとページの変わり目が見やすくなり便利です。</li>
        </ul>
        <img src="./image/img_generate-index.png">
        <img src="./image/img_generate-index-rule.png">

    </div>
    <script type="module">

        import Vue from 'https://cdn.jsdelivr.net/npm/vue@2.7.4/dist/vue.esm.browser.js'

        import {Util, setNavi} from "../common.js";
        setNavi();

        function generateTemplare(lines) {
            const stack = [];
            let idx = 0;
            lines.filter(line => line).forEach(line => {
                const [page, counter, ...rest] = line.split("\t");
                const nItem = Util.toHalfWidth(counter);
                if (Number(nItem) > 0) {
                    idx += 1;
                    for (let i = 0; i < Number(nItem); i++) {
                        stack.push({ "index": String(idx), "page": String(page) });
                    }
                }
            });
            return stack;
        }

        const vm = new Vue({
            el: "#app",
            data: {
                content: "",
                lines: [],
            },
            computed: {
                contentLines: function() {
                    return this.content.split(/\n/).map(line => String(line));
                },
            },
            methods: {
                reset: function(){
                    this.lines = [];
                },
                generate: function() {
                    this.reset();
                    generateTemplare(this.contentLines).forEach(x => {
                        this.lines.push(x);
                    });

                },
                copy: function() {
                    const joined = this.lines.map(x => `${x.index}\t${x.page}\t\t\t`).join("\n");
                    Util.copyToClipboard(joined);
                }
            }
        });

    </script>
</body>

</html>