<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>見よ項目の名寄せをチェック</title>
    <base target="_blank">
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" type="text/css" href="../almond.lite.css">
    <link rel="stylesheet" type="text/css" href="../additional.css">
</head>

<body>
    <!-- ============================== -->
    <div class="container">

        <h1>見よ項目の名寄せをチェック</h1>

        <div id="app">
            <div class="ui">
                <textarea placeholder="paste here!" v-model="content"></textarea>
                <button @click="check">実行</button>
                <ul>
                    <li>下記のチェックを行います。
                        <ul>
                            <li>見よ<b>先</b>項目も正しく名寄せされているか</li>
                            <li>見よ項目が本項目として残っていないか</li>
                        </ul>
                    </li>
                    <li>名寄せを修正したら<a href="../CheckNombre/index.html">こちら</a>でノンブルなど再チェックしておくと安全です。</li>
                </ul>
            </div>
            <div class="result-markup">
                <div v-if="ungrouped.length">
                    <h4>見よ先項目が名寄せされずに残っています！</h4>
                    <ul>
                        <li v-for="(ug, idx) in ungrouped" :key="idx">
                            <mark>{{ ug.name }}</mark>
                            <ul>
                                <li v-for="(d, idx) in ug.detail" :key="idx">
                                    <u>{{ d }}</u>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div v-if="conflicts.length">
                    <h4>見よ項目が本項目として残っています！</h4>
                    <ul>
                        <li v-for="(cf, idx) in conflicts" :key="idx">
                            <mark>{{ cf.name }}</mark>
                            <ul>
                                <li v-for="(d, idx) in cf.detail" :key="idx">
                                    <u>{{ d }}</u>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div>{{message}}</div>
            </div>
        </div>



    </div>
    <!-- ============================== -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script type="module">
        import {setNavi} from "../common.js"
        setNavi();

        import {GroupingChecker} from "./src.js";

        const vm = new Vue({
            el: "#app",
            data: {
                content: "",
                ungrouped: [],
                conflicts: [],
                message: ""
            },
            computed: {
                contentLines: function() {
                    return this.content.split(/\n/).map(line => String(line));
                },
            },
            methods: {
                reset: function() {
                    this.ungrouped = [];
                    this.conflicts = [];
                    this.message = "";
                },
                check: function() {
                    this.reset();
                    const checker = new GroupingChecker(this.contentLines);
                    checker.getUngrouped().forEach(x => {
                        this.ungrouped.push(x);
                    });
                    checker.getConflicting().forEach(x => {
                        this.conflicts.push(x);
                    });
                    if (!this.ungrouped.length && !this.conflicts.length) {
                        this.message = "問題ありません！";
                    }
                },
            }
        });

    </script>
</body>

</html>