<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>旧版索引の事前整形</title>
    <base target="_blank">
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" type="text/css" href="../almond.lite.css">
    <link rel="stylesheet" type="text/css" href="../additional.css">
</head>

<body>
    <!-- ============================== -->
    <div class="container">

        <h1>旧版索引の事前整形</h1>

        <div id="app">
            <div class="ui">
                <textarea placeholder="paste here!" v-model="content"></textarea>
                <button @click="format">実行</button>
            </div>

            <ul>
                <li>項目とノンブルの間を2倍アキに統一します。</li>
                <li>連続するノンブルを示すダーシの種類を統一します。</li>
                <li>子項目のダーシの種類を統一します。</li>
            </ul>

            <div class="ui">
                <textarea placeholder="result" readonly v-model="formatted"></textarea>
                <button @click="copy">コピー</button>
            </div>
            <div class="result-markup">
                <div v-if="modified.length">
                    <h4>{{message}}</h4>
                    <ol><li v-for="(fmt, idx) in modified" :key="idx">
                        <ul>
                            <li style="color: gray;">{{fmt.original}}</li>
                            <li style="color: red;">{{fmt.formatted}}</li>
                        </ul>
                    </li></ol>
                </div>
                <div v-else>{{message}}</div>
            </div>
        </div>

    </div>
    <!-- ============================== -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script type="module">
        import {Util, Entry, setNavi} from "../common.js";
        setNavi();

        const bars = ["\u2010", "\u2011", "\u2012", "\u2013", "\u2014", "\u2015", "\uFF0D", "\u2500", "\u002d"];
        const barsPattern = `[${bars.join("")}]`;

        class IndexLine {

            constructor(s) {
                this.text = String(s);
                this.formatSpace();

                const entry = new Entry(this.text);

                if (entry.isChild) {
                    const reg = new RegExp(`^${barsPattern}+|${barsPattern}+$`);
                    this.name = "\u3000" + entry.name.trim().replace(reg, "――");
                }
                else {
                    this.name = entry.name;
                }

                const reg = new RegExp(`${barsPattern}+`, "g");
                this.address = entry.address.replace(reg, "\u2013");
            }

            formatSpace() {
                const origin = this.text;
                this.text = this.text.replace(/\u3000/g, "\u3000\u3000").replace(/\u3000+/g, "\u3000\u3000"); // 全部2倍アキに
                this.text = this.text.replace(/\u3000\u3000→/g, "\u3000→"); // 矢印の後は1倍アキに
                this.text = this.text.replace(/(?<=.{2,})\u3000\u3000(?!\d)/, "\u3000"); // 項目3文字目以降にあるアキは1倍（例：イドラッ　蘇倶　　12）
                this.text = this.text.replace(/\u3000\u3000(?!\d)/g, ""); // 残っている2倍アキは不要
                if (origin.startsWith("\u3000") || origin.startsWith(" ")) {
                    this.text = "\u3000" + this.text.trim();
                }
            }

            getFormattedLine() {
                return (this.name + "\u3000\u3000" + this.address).trimEnd();
            }

        }

        function formatOldIndex(lines) {
            return lines.map(line => String(line).trimEnd().replace(/\t/, "\u3000\u3000")).map(line => {
                const fmt = new IndexLine(line).getFormattedLine();
                return {
                    "formatted": fmt,
                    "original": line,
                };
            });
        }


        const vm = new Vue({
            el: "#app",
            data: {
                content: "",
                fmtArr: [],
                message: ""
            },
            computed: {
                contentLines: function() {
                    return this.content.split(/\n/).map(line => String(line));
                },
                formatted: function() {
                    return this.fmtArr.map(x => x.formatted).join("\n");
                },
                modified: function() {
                    return this.fmtArr.filter(x => x.formatted != x.original);
                },
            },
            methods: {
                reset: function(){
                    this.fmtArr = [];
                },
                format: function() {
                    this.reset();
                    formatOldIndex(this.contentLines).forEach(x => {
                        this.fmtArr.push(x);
                    });
                    if (this.modified.length > 0) {
                        this.message = this.modified.length + "箇所を修正しました！";
                    }
                    else {
                        this.message = "問題のある箇所は見当たりませんでした！";
                    }
                },
                copy: function() {
                    Util.copyToClipboard(this.formatted);
                }
            }
        });

    </script>
</body>

</html>