<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>名寄せ</title>
    <base target="_blank">
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" type="text/css" href="../almond.lite.css">
    <link rel="stylesheet" type="text/css" href="../additional.css">
    <style>
        ul div.notation {
            font-size: .9em;
            color: #586e75;
            text-indent: -1em;
            margin-left: 1em;
        }

        ul div::before {
            content: "\203b";
            font-weight: bold;
        }
    </style>
</head>

<body>
    <!-- ============================== -->
    <div class="container">

        <h1>名寄せ</h1>

        <div id="app">
            <div class="ui">
                <textarea placeholder="paste here!" v-model="content"></textarea>
                <button @click="execute">実行</button>
                <div>
                    <input type="checkbox" id="isLeft" v-model="isLeft">
                    <label for="isLeft">ノンブルが左列</label>
                </div>
                <div>
                    <input type="checkbox" id="isOrdered" v-model="isOrdered">
                    <label for="isOrdered">連続している項目のみ名寄せする</label>
                </div>
            </div>

            <div class="caption">
                <ul>
                    <li>このツールはソートを行いません。</li>
                    <li>名寄せ後に重複が残っていないか<a href="../CheckGrouping/index.html">こちら</a>でチェックしておくと安全です。</li>
                </ul>
            </div>

            <div class="ui">
                <textarea placeholder="result" readonly v-model="grouped"></textarea>
                <button @click="copy">コピー</button>
            </div>
        </div>


        <img src="./image/img_grouping.png">
        <em>ノンブルの<span style="color: red;">並び</span>、<span style="color: blue;">重複</span>、<span
            style="color: green;">連続</span>を整理。記号での装飾にも対応。</em>

    </div>
    <!-- ============================== -->
    <script type="module">

        import Vue from 'https://cdn.jsdelivr.net/npm/vue@2.7.4/dist/vue.esm.browser.js'

        import {Util, setNavi} from "../common.js"
        setNavi();

        import {Grouper} from "./src.js";

        const vm = new Vue({
            el: "#app",
            data: {
                content: "",
                lines: [],
                isLeft: false,
                isOrdered: false,
            },
            computed: {
                contentLines: function() {
                    return this.content.split(/\n/).map(line => String(line));
                },
                grouped: function() {
                    return this.lines.join("\n");
                },
            },
            methods: {
                reset: function(){
                    this.lines = [];
                },
                execute: function(){
                    this.reset();
                    const grouper = new Grouper(this.contentLines, this.isLeft);
                    grouper.getGroupedLines(this.isOrdered).forEach(x => {
                        this.lines.push(x);
                    });
                },
                copy: function(){
                    Util.copyToClipboard(this.grouped);
                }
            }
        });

    </script>
</body>

</html>