<!DOCTYPE html>
<html lang="ja">

<head prefix="og: http://ogp.me/ns#">
    <meta charset="utf-8">
    <meta property="og:title" content="sakuin-tool">
    <meta property="og:site_name" content="索引ツール">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://awtnb.github.io/sakuin-tool/">
    <meta property="og:image" content="https://awtnb.github.io/sakuin-tool/tools/favicon.ico">
    <meta property="og:description" content="索引作成をお助けする各種ツールを詰め合わせました。">
    <title>sakuin-tool</title>
    <base target="_blank">
    <link rel="shortcut icon" href="./assets/favicon.ico">
    <link rel="stylesheet" type="text/css" href="./assets/almond.lite.css">
    <link rel="stylesheet" type="text/css" href="./assets/additional.css">
    <style>
        .navi {
            position: relative;
            height: 2vh;
        }
        .navi > .menu {
            position: absolute;
            display: flex;
        }
        .navi > .repo-link {
            position: absolute;
            right: 1em;
            background: #369;
            font-size: .8em;
            padding: 0 2px;
            border-radius: 4px;
        }
        .repo-link > a {
            color: #eee;
            text-decoration: none;
        }
        .menu > div {
            display: inline-block;
            margin: 0 1em;
        }
        section.fullauto {
            min-height: 96vh;
            position: relative;
        }
        .scroll-navi {
            position: absolute;
            bottom: 2rem;
            right: 1rem;
            color: gray;
        }
        .scroll-navi::after {
            color: tomato;
            content: "\25bc";
        }
    </style>
</head>

<body>

    <div class="navi">
        <div class="menu">
            <div><a href="./tools/prepare/index.html">事前準備</a></div>
            <div><a href="./tools/check/index.html">チェック</a></div>
            <div><a href="./tools/adjuster/index.html">微調整</a></div>
            <div><a href="./tools/reuse/index.html">再利用</a></div>
        </div>
        <div class="repo-link"><a href="https://github.com/AWtnb/sakuin-tool">Github repo.</a></div>
    </div>

    <h1>sakuin-tool</h1>
    <details>
        <summary>注意事項</summary>
        <ul>
            <li>本ツールでの索引整形は一定の法則にしたがって機械的に一括処理しています。</li>
            <li>例外的なデータには対応できません。精度にも限界がありますので<strong>必ず目でも校正してください。</strong></li>
            <li>本ツールが外部にデータを送信することは一切ありません。</li>
        </ul>
    </details>
    <!-- ///////////////////////////////////////////////////////////////

        名寄せ

    /////////////////////////////////////////////////////////////// -->
    <section class="individual">
        <h2>名寄せ</h2>
        <div id="grouping">
            <div class="ui">
                <textarea placeholder="paste here!" v-model="content"></textarea>
                <button @click="execute">実行</button>
                <div>
                    <input type="checkbox" id="isLeft" v-model="isLeft">
                    <label for="isLeft">ノンブルが左列</label>
                </div>
                <div>
                    <input type="checkbox" id="isOrdered" v-model="isOrdered">
                    <label for="isOrdered">連続している項目のみ名寄せする</label>
                </div>
            </div>
            <div class="ui">
                <textarea placeholder="result" readonly v-model="grouped"></textarea>
                <copy-button :copy-func="copy" :copied="copied"></copy-button>
            </div>
        </div>
        <img src="./image/img_grouping.png">
        <em>ノンブルの<span style="color: red;">並び</span>、<span style="color: blue;">重複</span>、<span style="color: green;">連続</span>を整理。記号での装飾にも対応。</em>
    </section>
    <!-- ///////////////////////////////////////////////////////////////

        よみがな

    /////////////////////////////////////////////////////////////// -->
    <section class="individual">
        <h2>よみがな取得</h2>

        <p>外部アプリを使用します。</p>
        <div><img src="https://github.com/AWtnb/flet_yomi/blob/master/images/demo.png?raw=true" alt=""></div>
        <p><a href="https://github.com/AWtnb/flet_yomi">github.com/AWtnb/flet_yomi</a></p>

        <details>
            <summary>ダウンロード方法（初回のみ）</summary>
            <div><img src="./image/img_yomi_dl_release.png" alt=""></div>
            <p><a href="https://github.com/AWtnb/flet_yomi/releases">リリースページ</a>の一番上に表示されている exe ファイルをクリックするとダウンロードが始まります。100MB を超える巨大なファイルなので、余裕のある回線をご利用ください。</p>

            <h3>ダウンロード後の流れ</h3>
            <p>個人開発のアプリなのでダウンロード時に警告が表示されます（下記は Microsoft Edge の例）。信頼していただければ、下記の手順で有効化してください。</p>
            <ol>
                <li>マウスを乗せると表示されるメニューから「保存」を選択。
                    <div><img src="./image/img_yomi_dl01.png" alt=""></div>
                </li>
                <li>あらためて警告が出るので「詳細表示」をクリック。
                    <div><img src="./image/img_yomi_dl02.png" alt=""></div>
                </li>
                <li>「保持する」をクリックするとダウンロードが正式に始まります。
                    <div><img src="./image/img_yomi_dl03.png" alt=""></div>
                </li>
                <li>ダウンロード先のフォルダを開くと <code>yomi.exe</code> というファイルがダウンロードされているはず。
                    <div><img src="./image/img_yomi_dl04.png" alt=""></div>
                </li>
                <li>アプリはこの exe 単体で動作します。適当なフォルダを作って移動させましょう。
                    <div><img src="./image/img_yomi_dl05.png" alt=""></div>
                </li>
            </ol>

            <h3>初回起動時</h3>
            <p>おそらく初回の起動時に、Windows からの警告が表示されます。同じく信頼していただけましたら、下記の手順で有効化してください。</p>

            <ol>
                <li>「PC が保護されました」という表示の場合は「詳細情報」をクリック。
                    <div><img src="./image/img_yomi_dl06.png" alt=""></div>
                </li>
                <li>表示される「実行」ボタンをクリックするとアプリが起動します。
                    <div><img src="./image/img_yomi_dl07.png" alt=""></div>
                </li>
            </ol>

        </details>

        <h3>作業手順</h3>

        <h4>1. 名寄せした索引項目の読み情報を取得する</h4>
        <div><img src="./image/img_yomi_demo01.png" alt=""></div>
        <p>名寄せが済んだ索引をテキストボックスに貼り付けて<code>GO!</code>のボタンをクリックすると読み情報が取得されます。</p>

        <ul>
            <li>結果は「元の文字」「読みがな」「解析の詳細」の3列です。</li>
            <li>オプションの意味：
                <ul>
                    <li><code>Skip inside: () / []</code>：括弧内の文字（見よ元項目の情報など）を無視します。</li>
                    <li><code>Skip nombles or reference (for book index)</code>：ノンブル情報（全角空白2個の後ろにある数字）、見よ先情報（<code>　→</code>の後ろにある文字）を無視します。</li>
                </ul>
            </li>
        </ul>


        <h4>2. 結果を Microsoft Excel に貼り付けてチェックする</h4>
        <div><img src="./image/img_yomi_demo02.png" alt=""></div>
        <p><code>COPY!</code>ボタンで変換結果をコピーします。Excel を開いて貼り付けると楽にチェックできます。</p>

        <ul>
            <li>一番右の列で、どの単語をどう読んでいるのかがわかります。</li>
            <li><strong>この先使用するのは左の2列だけです。</strong>3列目を見ながら、変換にミスがあれば2列目を修正していきます。</li>
        </ul>

        <h4>3. 必要な列をコピーする</h4>
        <div><img src="./image/img_yomi_demo03.png" alt=""></div>
        <p>読みがなのチェック・修正が終わったら、左2列をコピーして以降のステップ（並べ替え）に進んでください。</p>

        <ul>
            <li>配列読みは次の並べ替えのステップで自動生成します。</li>
        </ul>

    </section>
    <!-- ///////////////////////////////////////////////////////////////

        並べ替え

    /////////////////////////////////////////////////////////////// -->
    <section class="individual">
        <h2>並べ替え</h2>
        <div id="sort">
            <div class="ui">
                <textarea placeholder="paste here!" v-model="content"></textarea>
                <button @click="sortLines">実行</button>
            </div>

            <ul>
                <li><code>名寄せした索引項目</code>と<code>読み</code>の2列を貼り付けてください。</li>
                <li>内部で<code>読み</code>の情報を<code>配列読み</code>に変換して並べ替えます。
                    <ul>
                        <li>最優先は<code>配列読み</code>の情報。</li>
                        <li><code>配列読み</code>が同じ場合は<code>読み</code>で昇順ソート。</li>
                        <li><code>読み</code>も同じ場合は<code>項目</code>の文字コード昇順（同じ文字種がまとまります）。</li>
                    </ul>
                </li>
                <li><strong>1列目が最終的な索引になります。</strong></li>
            </ul>
            <result-markup :parsed-arr="sortedlines" :copy-func="copy" :show-normalized="true" :copied="copied"></result-markup>
        </div>

        <details>
            <summary>配列読みへの変換だけ必要な場合はこちら</summary>
            <div id="normalize">
                <div>
                    <input type="checkbox" id="removeNoise" v-model="removeNoise">
                    <label for="removeNoise">カタカナ・数字・アルファベット以外を削除する</label>
                </div>
                <div class="ui">
                    <textarea placeholder="paste here!" v-model="content"></textarea>
                </div>
                <div class="ui">
                    <textarea placeholder="result" readonly v-model="converted"></textarea>
                    <copy-button :copy-func="copy" :copied="copied"></copy-button>
                </div>
            </div>
        </details>

        <img src="./image/img_sort.png">
    </section>
    <!-- ///////////////////////////////////////////////////////////////

        JavaScript

    /////////////////////////////////////////////////////////////// -->
    <script src="https://cdn.jsdelivr.net/npm/vue@3.2.37/dist/vue.global.js"></script>
    <script type="module">
        import {Util, Entry} from "./assets/common.js";

        import "./src/getReading/kuromoji.js"
        import {Reading} from "./src/getReading/src.js";
        const KUROMOJI_DICT = "./src/getReading/dict";

        import {Grouper} from "./src/group/src.js";
        import {Sorter} from "./src/sort/src.js";


        const tableWithReading = {
            props: {
                parsedArr: {
                    type: Array,
                    require: true
                }
            },
            inject: ["showNormalized"],
            template: `
            <table>
                <thead>
                    <tr>
                        <th>項目</th>
                        <th>読み</th>
                        <th v-if="showNormalized">配列読み</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(p, idx) in parsedArr" :key="idx">
                        <td>{{ p.item }}</td>
                        <td>{{ p.reading }}</td>
                        <td v-if="showNormalized">{{ p.normalized }}</td>
                    </tr>
                </tbody>
            </table>
            `
        };

        const copyButton = {
            props: {
                copyFunc: {
                    type: Function,
                    require: true
                },
                copied: {
                    type: Boolean,
                    require: true
                }
            },
            template: `
            <button @click="copyFunc" :class="{done:copied}">コピー</button>
            `
        };

        const resultMarkup = {
            props: {
                parsedArr: {
                    type: Array,
                    require: true
                },
                copyFunc: {
                    type: Function,
                    require: true
                },
                showNormalized: {
                    type: Boolean,
                    default: false
                },
                copied: {
                    type: Boolean
                }
            },
            components: {
                "table-with-reading": tableWithReading,
                "copy-button": copyButton
            },
            provide: function() {
                return {
                    "showNormalized": this.showNormalized
                }
            },
            template: `
            <div v-if="parsedArr.length">
                <div class="result-markup limit-height">
                    <table-with-reading :parsed-arr="parsedArr"></table-with-reading>
                </div>
                <copy-button :copy-func="copyFunc" :copied="copied"></copy-button>
            </div>
            `
        };

        ///////////////////////////////////////////////////////////////
        // 名寄せ
        ///////////////////////////////////////////////////////////////

        const vmGrouping = Vue.createApp({
            data: function () {
                return {
                    content: "",
                    lines: [],
                    isLeft: false,
                    isOrdered: false,
                    copied: false,
                }
            },
            computed: {
                contentLines: function() {
                    return this.content.split(/\n/).map(line => String(line));
                },
                grouped: function() {
                    return this.lines.join("\n");
                },
            },
            components: {
                "copy-button": copyButton
            },
            methods: {
                reset: function(){
                    this.lines = [];
                    this.copied = false;
                },
                execute: function(){
                    this.reset();
                    const grouper = new Grouper(this.contentLines, this.isLeft);
                    grouper.getGroupedLines(this.isOrdered).forEach(x => {
                        this.lines.push(x);
                    });
                },
                copy: function(){
                    Util.copyToClipboard(this.grouped);
                    this.copied = true;
                }
            }
        }).mount("#grouping");

        ///////////////////////////////////////////////////////////////
        // 並べ替え
        ///////////////////////////////////////////////////////////////

        const vmSort = Vue.createApp({
            data: function () {
                return {
                    content: "",
                    sortedlines: [],
                    copied: false,
                }
            },
            computed: {
                contentLines: function() {
                    return this.content.split(/\n/).map(line => String(line));
                },
                parsedLines: function() {
                    return this.contentLines.filter(line => line.trim().length > 0).map(line => {
                        const [item, reading, ...rest] = line.split("\t").map(x => x.trim());
                        return {
                            "item": item,
                            "reading": reading
                        };
                    });
                }
            },
            components: {
                "result-markup": resultMarkup
            },
            methods: {
                reset: function() {
                    this.sortedlines = [];
                    this.copied = false;
                },
                sortLines: function() {
                    this.reset();
                    const sorter = new Sorter();
                    this.parsedLines.forEach(x => sorter.addData(
                        x.item,
                        x.reading
                    ));
                    sorter.execute().forEach(x => {
                        this.sortedlines.push(x);
                    });
                },
                copy: function() {
                    const joined = this.sortedlines.map(x => `${x.item}\t${x.reading}\t${x.normalized}`).join("\n");
                    Util.copyToClipboard(joined);
                    this.copied = true;
                }
            }
        }).mount("#sort");

        // 配列よみ変換
        const vmNormalize = Vue.createApp({
            data: function () {
                return {
                    content: "",
                    removeNoise: true,
                    copied: false,
                }
            },
            computed: {
                converted: function() {
                    return Sorter.normalize(this.content, this.removeNoise);
                }
            },
            methods: {
                copy: function() {
                    Util.copyToClipboard(this.converted);
                    this.copied = true;
                }
            },
            components: {
                "copy-button": copyButton
            },
            watch: {
                content: function() {
                    this.copied = false;
                }
            }
        }).mount("#normalize");

</script>
</body>

</html>