@charset "UTF-8";
:root {
  background-color: #f2fffc;
  color: #073642;
  font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
  font-size: 12pt;
}
:root a {
  color: #2aa198;
  text-decoration: none;
}
:root b.blue {
  color: #268bd2;
}
:root b.red {
  color: #dc322f;
}
:root ul {
  width: 600px;
}
#container {
  display: -webkit-flex;
  display: flex;
}
.main {
  margin: 20px;
  padding: 12px;
  width: 800px;
  display: block;
}
.sidebar {
  width: 220px;
  border-right: #eee8d5 1px solid;
}
.sidebar .sidebar_fixeditem {
  font-size: 0.9rem;
  position: sticky;
  z-index: 1;
  top: 6px;
  margin-top: 10px;
  overflow: hidden;
}
.sidebar .sidebar_fixeditem ul {
  list-style-type: none;
  padding-left: 0.9rem;
}
.sidebar .sidebar_fixeditem ul li {
  margin-left: -0.9rem;
}
.sidebar .sidebar_fixeditem .sidebar_promotion {
  border-top: 4px double #eee8d5;
}
input[type="button"],
.button {
  font-size: 10pt;
  padding: 0.25rem 0.5rem;
  margin: 0.5rem;
  background: #eee8d5;
  color: #002b36;
  letter-spacing: 2px;
  border-radius: 4px;
}
input[type="number"] {
  margin-left: 4px;
  margin-right: 30px;
  width: 3em;
  border: 1px solid #d33682;
  border-radius: 2px;
}
.userinterface {
  display: inline-block;
  margin-left: 2rem;
  padding: 1rem;
  border: solid 1px #859900;
  border-radius: 8px;
}
.userinterface .horizontal {
  display: inline-flex;
}
.userinterface .horizontal form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
}
.userinterface textarea {
  border: 1px dotted #d33682;
  border-radius: 6px;
  padding: 0.5em;
  width: 200px;
  height: 250px;
}
.userinterface textarea:focus {
  border: 1px solid #d33682;
  outline: none;
  box-shadow: 0 0 5px 1px rgba(211, 54, 130, 0.6);
}
.userinterface table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0.5em;
  font-size: 0.9rem;
}
.userinterface table td {
  min-width: 150px;
  padding: 2px;
  border: 1px solid #586e75;
}
.userinterface table tbody {
  display: block;
  max-height: 400px;
  overflow-y: scroll;
}
.caption {
  margin: 1rem;
}
.caption .imagebox {
  display: inline-flex;
  position: relative;
  margin: 1rem;
  padding: 0.75rem;
  border: 1px solid #839496;
  border-radius: 8px;
}
.caption .imagebox .boxtitle {
  color: #839496;
  font-size: 0.9rem;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 4px;
  background-color: #f2fffc;
  transform: translateY(-50%) translateX(1em);
}
h1 {
  font-size: 1rem;
  color: #073642;
}
h2 {
  margin: 5rem 0 1rem 0;
  border-bottom: solid 1px #268bd2;
  font-size: 1.25rem;
}
h3 {
  font-size: 1.1rem;
  margin-top: 4rem;
}
h3::before {
  content: "\25cf";
  color: #268bd2;
}
