@charset "UTF-8";

@black: #073642;
@blue: #268bd2;
@brblue: #839496;
@brblack: #002b36;
@brcyan: #93a1a1;
@brwhite: #eee8d5;
@cyan: #2aa198;
@gray: #586e75;
@green: #859900;
@magenta: #d33682;
@orange: #cb4b16;
@red: #dc322f;
@violet: #6c71c4;
@white: #fdf6e3;
@yellow: #b58900;

@mainBg: #e1e7e6;
@containerWidth: 600px;

@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
    font-size: 18px;
    background-color: @black;
    color: @black;
    margin: 0;
}

.container {
    background:@mainBg;
    max-width: 600px;
    min-height: 100%;
    margin: auto;
    padding: 20px;

    h1 {
        font-family: 'Dela Gothic One', cursive;
        font-size: 60px;
        color: @red;
        max-width: 100%;
        text-align: center;
    }
    h2 {
        margin: 2rem 0 1rem 0;
        border-bottom: solid 1px @blue;
        font-size: 1.25rem;
    }
    h3 {
        font-size: 20px;
        margin-top: 4rem;
        &::before {
            content: "\25cf";
            color: @red;
        }
    }

    a {
        color: @blue;
        text-decoration: none;
    }
    .blue {
        color: @blue;
    }
    .red {
        color: @red;
    }

    ul li::marker {
        color: @brblue;
    }

    .promotion {
        margin-top: 50px;
        p {
            text-align: center;
        }
    }

    .outline {
        max-width: 400px;
        margin: 0 auto;
        li {
            font-weight: bold;
            a:focus {
                border: 1px solid @green;
                border-radius: 4px;
                padding: 2px;
                box-shadow: 0 0 5px 1px fadeout(@green, 40%);
            }
        }
    }

    .caption {
        margin: 1rem;
        .imagebox {
            position: relative;
            margin: 1rem auto;
            max-width: 90%;
            padding: .75rem;
            border: 1px solid @brblue;
            border-radius: 8px;
            img {
                display: block;
                max-width: 100%;
                margin: 1rem auto;
            }
            .boxtitle {
                color: @brblue;
                font-size: .9rem;
                position: absolute;
                top: 0;
                left: 0;
                padding: 0 4px;
                background-color: @mainBg;
                transform: translateY(-50%) translateX(1em);
            }
        }
    }

    .ui {
        margin: 1rem;
        padding: 1rem;
        border: solid 1px @green;
        border-radius: 8px;
        .horizontal {
            display: inline-flex;
            max-width: 100%;
            > span, > div {
                margin: 0 4px;
            }
            // form {
            //     display: flex;
            //     justify-content: center;
            //     align-items: center;
            // }
        }
        textarea {
            border: 1px dotted @red;
            border-radius: 6px;
            padding: .5em;
            height: 250px;
            &:focus {
                border: 1px solid @red;
                outline: none;
                box-shadow: 0 0 5px 1px fadeout(@red, 40%);
            }
        }
        input[type="button"] {
            margin: auto 4px;
            height: 30px;
            min-width: 50px;
            background: @brwhite;
            color: @brblack;
            border-radius: 4px;
        }
        input[type="number"] {
            margin: 0 4px;
            width: 3em;
            border: 1px solid @magenta;
            border-radius: 2px;
        }
        table {
            border-collapse: collapse;
            border-spacing: 0;
            margin: .5em;
            font-size: .9rem;
            max-width: 100%;
            td {
                min-width: 80px;
                padding: 2px;
                border: 1px solid @gray;
            }
            tbody {
                display: block;
                max-height: 400px;
                overflow-y: scroll;
            }
        }
    }

}