<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>子項目の復元</title>
    <base target="_blank">
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" type="text/css" href="../almond.lite.css">
    <link rel="stylesheet" type="text/css" href="../additional.css">
</head>

<body>
    <!-- ============================== -->
    <div class="container">

        <h1>子項目の復元</h1>

        <div id="app">
            <div class="ui">
                <textarea placeholder="paste here!" v-model="content"></textarea>
                <button @click="format">実行</button>
            </div>
            <ul>
                <li>索引項目中の子項目を復元します。</li>
                <li>並びは変化しません。</li>
                <li>ノンブルが入っていても動作しますが、事前に<a href="../FormatOldIndex/index.html">こちら</a>で整形しておくと動作が安定します。</li>
            </ul>
            <div class="ui">
                <textarea placeholder="result" readonly v-model="formatted"></textarea>
                <button @click="copy">コピー</button>
            </div>
        </div>

        <img src="./image/img_complete.png">

    </div>
    <!-- ============================== -->
    <script type="module">

        import Vue from 'https://cdn.jsdelivr.net/npm/vue@2.7.4/dist/vue.esm.browser.js'

        import {Util, Entry, setNavi} from "../common.js";
        setNavi();

        function completeChildEntry(lines) {
            const trimmedLines = lines.filter(x => String(x).trim());
            const stack = [];
            const parentStack = [];
            stack.push(trimmedLines[0]);
            parentStack.push(new Entry(trimmedLines[0]).name);
            for (let i = 1; i < trimmedLines.length; i++) {
                const cur = String(trimmedLines[i]);
                if (Util.isIndented(cur) && cur.indexOf("\u2015\u2015") != -1) {
                    const completed = cur.trimStart().replace("\u2015\u2015", parentStack.at(-1));
                    stack.push(completed);
                }
                else {
                    stack.push(cur);
                    parentStack.push(new Entry(cur).name);
                }
            }
            return stack;
        }

        const vm = new Vue({
            el: "#app",
            data: {
                content: "",
                fmtArr: [],
            },
            computed: {
                contentLines: function() {
                    return this.content.split(/\n/).map(line => String(line));
                },
                formatted: function() {
                    return this.fmtArr.join("\n");
                },
            },
            methods: {
                reset: function(){
                    this.fmtArr = [];
                },
                format: function() {
                    this.reset();
                    completeChildEntry(this.contentLines).forEach(x => {
                        this.fmtArr.push(x);
                    });
                },
                copy: function() {
                    Util.copyToClipboard(this.formatted);
                }
            }
        });

    </script>
</body>

</html>