<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>配列よみに変換</title>
    <base target="_blank">
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" type="text/css" href="../almond.lite.css">
    <link rel="stylesheet" type="text/css" href="../additional.css">
</head>

<body>
    <!-- ============================== -->
    <div class="container">

        <h1>配列読みに変換</h1>


        <div id="app">
            <div class="ui">
                <textarea  placeholder="paste here!" v-model="content"></textarea>
            </div>
            <input type="checkbox" id="removeFlag" v-model="noiseless">
            <label for="removeFlag">カタカナ・数字・アルファベット以外を削除する</label>
            <div class="ui">
                <textarea  readonly placeholder="result" v-model="converted"></textarea>
                <button @click="copy">コピー</button>
            </div>
        </div>


    </div>
    <!-- ============================== -->
    <script type="module">

        import Vue from 'https://cdn.jsdelivr.net/npm/vue@2.7.4/dist/vue.esm.browser.js'

        import {Util, setNavi} from "../common.js";
        setNavi();

        import {NormalizedReading} from "./src.js";

        const vm = new Vue({
            el: "#app",
            data: {
                content: "",
                noiseless: true
            },
            computed: {
                converted: function() {
                    return NormalizedReading.convert(this.content, this.noiseless)
                }
            },
            methods: {
                copy: function() {
                    Util.copyToClipboard(this.converted);
                },
            }
        });

    </script>
</body>

</html>