@import url('https://fonts.googleapis.com/css2?family=BIZ+UDGothic:wght@400;700&family=Dela+Gothic+One&display=swap');

html {
    font-family: 'BIZ UDGothic', sans-serif;
    line-height: 1.5;
}

body {
    margin-bottom: 50vh;
}

h1 {
    font-family: 'Dela Gothic One', cursive;;
}

h1 {
    font-size: 70px;
}

h2 {
    margin-top: 4rem;
    border-bottom: 2px solid;
}

h2, h3, h4, h5 {
    font-weight: bold;
}

h3, h4 {
    color: #333;
}

img {
    box-shadow: 1px 1px 5px 1px #ccc;
    margin: 2rem 0;
    display: block;
    max-width: 60%;
}

img ~ em {
    font-style: normal;
    display: block;
    line-height: 1.25;
    margin-top: -1rem;
    margin-left: 1rem;
    color: #333;
}

th, td {
    padding-top: 2px;
    padding-bottom: 2px;
    vertical-align: middle;
}

.ui {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.result-markup {
    margin: 1rem;
    padding: 1rem;
}

.limit-height {
    max-height: 300px;
    overflow-y: auto;
}

.ui textarea {
    min-width: 40%;
    height: 180px;
    white-space: pre;
}

span.copy-status::before {
    content: "\2714";
    color: tomato;
    font-size: 2rem;
    font-style: italic;
    margin-left: .25em;
}