@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Noto+Sans+JP:wght@400;700&display=swap');

html {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

body {
    margin-bottom: 50vh;
}

h1 {
    font-family: 'Dela Gothic One', cursive;;
}

h1 {
    font-size: 70px;
}

h2 {
    margin-top: 4rem;
    border-bottom: 2px solid;
}

h2, h3, h4, h5, h6 {
    font-weight: bold;
}

h3 {
    font-size: 1.25rem;
}
h4 {
    color: #333;
    font-size: 1.1rem;
}

img {
    box-shadow: 1px 1px 5px 1px #ccc;
    margin: 2rem 0;
    display: block;
    max-width: 60%;
}

img ~ em {
    font-style: normal;
    display: block;
    line-height: 1.25;
    margin-top: -1rem;
    margin-left: 1rem;
    color: #333;
}

th, td {
    padding-top: 2px;
    padding-bottom: 2px;
    vertical-align: middle;
}

code {
    font-family: ui-monospace, Consolas, monospace;
    border: 1px solid #bbb;
    border-radius: 4px;
    line-height: 1.2;
}

.ui {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.result-markup {
    margin: 1rem;
    padding: 1rem;
}

.limit-height {
    max-height: 300px;
    overflow-y: auto;
}

.ui textarea {
    min-width: 40%;
    height: 180px;
    white-space: pre;
}

button {
    min-width: 6rem;
}

button.done::after {
    content: "\2714";
    color: yellow;
    margin-left: 1em;
}

table {
    margin-bottom: 4rem;
}

input[type="radio"], input[type="checkbox"] {
    margin: .25em;
}

[v-cloak] {
    display: none;
}