<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>読みがなの取得</title>
    <base target="_blank">
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" type="text/css" href="../almond.lite.css">
    <link rel="stylesheet" type="text/css" href="../additional.css">
</head>

<body>
    <!-- ============================== -->
    <div class="container">

        <h1>読みがなの取得</h1>

        <div id="app">
            <div class="ui">
                <textarea placeholder="paste here!" v-model="content"></textarea>
                <button @click="execute">実行</button>
                <div>
                    <input type="checkbox" id="removeNoise" v-model="removeNoise">
                    <label for="removeNoise"><code>配列読み</code>からカタカナ・数字・アルファベット以外を削除する</label>
                </div>
                <p>{{message}}</p>
            </div>
            <div class="result-markup">
                <table id="src-table">
                    <thead>
                        <tr>
                            <th>項目</th>
                            <th>読み</th>
                            <th>配列読み</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(p, idx) in parsedArr" :key="idx">
                            <td>{{ p.item }}</td>
                            <td>{{ p.reading }}</td>
                            <td>{{ p.normalized }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <button @click="copy">表をコピー</button>
        </div>

    </div>
    <!-- ============================== -->
    <script src="./kuromoji.js"></script>
    <script type="module">

        import Vue from 'https://cdn.jsdelivr.net/npm/vue@2.7.4/dist/vue.esm.browser.js'

        import {Util, setNavi} from "../common.js";
        setNavi();

        import {Reading} from "./src.js";

        const vm = new Vue({
            el: "#app",
            data: {
                content: "",
                removeNoise: true,
                parsedArr: [],
                message: ""
            },
            computed: {
                contentLines: function() {
                    return this.content.split(/\n/).map(line => String(line));
                },
            },
            methods: {
                resetMsg: function(){
                    this.message = "";
                },
                reset: function(){
                    this.parsedArr = [];
                    this.resetMsg();
                },
                execute: function(){
                    this.reset();
                    this.message ="よみがな計算中…";
                    kuromoji.builder({ dicPath: "./dict" }).build((err, tokenizer) => {
                        if (err) {
                            console.log(err);
                            this.message = "解析失敗…やり直してみてください！";
                        }
                        else {
                            new Reading(tokenizer, this.removeNoise).parseLines(this.contentLines).forEach(x => {
                                this.parsedArr.push(x);
                            });
                            this.resetMsg();
                        }
                    });
                },
                copy: function(){
                    const joined = this.parsedArr.map(x => `${x.item}\t${x.reading}\t${x.normalized}`).join("\n");
                    Util.copyToClipboard(joined);
                }
            }
        });

    </script>
</body>

</html>