<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>読みがなの取得</title>
    <base target="_blank">
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" type="text/css" href="../almond.lite.css">
    <link rel="stylesheet" type="text/css" href="../additional.css">
</head>

<body>
    <!-- ============================== -->
    <div class="container">

        <h1>読みがなの取得</h1>

        <div id="app">
            <div class="ui">
                <textarea placeholder="paste here!" v-model="content"></textarea>
                <button @click="execute">実行</button>
                <div>
                    <label for="removeFlag">ノンブル部分の読みをスキップする</label>
                    <input type="checkbox" id="removeFlag" v-model="removeNombre">
                </div>
            </div>
            <div class="ui">
                <textarea placeholder="result" readonly v-model="parsed"></textarea>
                <button @click="copy">コピー</button>
            </div>
        </div>

    </div>
    <!-- ============================== -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="./kuromoji.js"></script>
    <script type="module">
        import {Util, Entry, setNavi} from "../common.js";
        setNavi();

        import {Reading} from "./src.js";

        const vm = new Vue({
            el: "#app",
            data: {
                content: "",
                removeNombre: true,
                readings: [],
            },
            computed: {
                contentLines: function() {
                    return this.content.split(/\n/).map(line => String(line));
                },
                parsed: function() {
                    return this.readings.join("\n");
                },
            },
            methods: {
                reset: function(){
                    this.readings = [];
                },
                execute: function(){
                    this.reset();
                    this.readings.push("よみがな計算中…");
                    kuromoji.builder({ dicPath: "./dict" }).build((err, tokenizer) => {
                        this.readings.pop();
                        if (err) {
                            console.log(err);
                            this.readings.push("解析失敗…やり直してみてください！");
                        }
                        else {
                            const targetLines = (this.removeNombre)? this.contentLines.map(line => new Entry(line).name) : this.contentLines;
                            new Reading(tokenizer).parseLines(targetLines).forEach(x => {
                                this.readings.push(x.reading);
                            });
                        }
                    });
                },
                copy: function(){
                    Util.copyToClipboard(this.result);
                }
            }
        });

    </script>
</body>

</html>