<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>カタカナひらがな相互変換</title>
    <base target="_blank">
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" type="text/css" href="../almond.lite.css">
    <link rel="stylesheet" type="text/css" href="../additional.css">
</head>

<body>
    <!-- ============================== -->
    <div class="container">

        <h1>カタカナひらがな相互変換</h1>

        <div id="app">
            <div class="ui">
                <textarea placeholder="paste here!" v-model="content"></textarea>
            </div>
            <div class="ui">
                <textarea placeholder="result" readonly v-model="converted"></textarea>
                <button @click="copy">コピー</button>
            </div>
        </div>

    </div>
    <!-- ============================== -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script type="module">
        import {Util, setNavi} from "../common.js";
        setNavi();

        const vm = new Vue({
            el: "#app",
            data: {
                content: "",
            },
            computed: {
                converted: function() {
                    return this.content.replace(/[\u30a1-\u30f4\u3041-\u3093]/g, (m) => {
                        if (m.match(/[\u30a1-\u30f4]/)) {
                            return Util.toHiragana(m);
                        }
                        return Util.toKatakana(m);
                    });
                }
            },
            methods: {
                copy: function() {
                    navigator.clipboard.writeText(String(this.converted).replace(/&amp;/g, "&"));
                    alert("コピーしました！");
                },
            }
        });

    </script>
</body>

</html>