<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>索引の体裁チェック</title>
    <base target="_blank">
    <link rel="shortcut icon" href="../../assets/favicon.ico">
    <link rel="stylesheet" type="text/css" href="../../assets/almond.lite.css">
    <link rel="stylesheet" type="text/css" href="../../assets/additional.css">
</head>
<body>
    <div class="container">

        <h1>索引のチェック</h1>
        <!-- ///////////////////////////////////////////////////////////////

            見よ項目

        /////////////////////////////////////////////////////////////// -->
        <section>
            <h2>見よ項目のチェック</h2>
            <div id="checkRefs">
                <div class="ui">
                    <textarea placeholder="paste here!" v-model="content"></textarea>
                    <button @click="check">実行</button>
                </div>
                <div class="result-markup">
                    <div v-if="lostTo.length">
                        <ref-lost-to :lost-to="lostTo"></ref-lost-to>
                    </div>
                    <div v-if="lostFrom.length">
                        <ref-lost-from :lost-from="lostFrom"></ref-lost-from>
                    </div>
                    <div v-if="ungrouped.length">
                        <ref-ungrouped :ungrouped-refs="ungrouped"></ref-ungrouped>
                    </div>
                    <div v-if="conflicts.length">
                        <ref-conflict :conflict-refs="conflicts"></ref-conflict>
                    </div>
                    <div v-if="adjacent.length">
                        <ref-adjacent :adjacent-refs="adjacent"></ref-adjacent>
                    </div>
                    <div v-if="isPerfect">{{message}}</div>
                </div>
            </div>
        </section>
        <!-- ///////////////////////////////////////////////////////////////

            子項目

        /////////////////////////////////////////////////////////////// -->
        <section>
            <h2>子項目候補のチェック</h2>
            <div id="checkChild">
                <div class="ui">
                    <textarea placeholder="paste here!" v-model="content"></textarea>
                    <button @click="check">実行</button>

                    <div>
                        <input type="radio" id="search-tail" value="tail" v-model="picked"><label for="search-tail">末尾一致</label>
                        <input type="radio" id="search-head" value="head" v-model="picked"><label for="search-head">先頭一致</label>
                        <input type="radio" id="search-all" value="all" v-model="picked"><label for="search-all">両方</label>
                    </div>

                </div>
                <div v-if="found.length">
                    <div class="result-markup">
                        <table>
                            <thead><tr><th>項目</th><th>子項目候補</th></tr>
                            </thead>
                            <tbody>
                                <tr v-for="(fd, idx) in found" :key="idx">
                                    <td>{{ fd.parent }}</td>
                                    <td><ul>
                                        <li v-for="(c, idx) in fd.children" :key="idx">
                                            <span><mark v-if="c.pre.length">{{c.pre}}</mark>{{c.rest}}<mark v-if="c.post.length">{{c.post}}</mark></span>
                                        </li>
                                    </ul></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
        <!-- ///////////////////////////////////////////////////////////////

            ノンブル

        /////////////////////////////////////////////////////////////// -->
        <section>
            <h2>ノンブルのチェック</h2>
            <div id="checkNombre">
                <div class="ui">
                    <textarea placeholder="paste here!" v-model="content"></textarea>
                    <button @click="check">実行</button>
                </div>

                <strong>ノンブルに半角数字以外が含まれている場合は正しく判定できません。</strong>

                <div class="result-markup">
                    <div v-if="problems.length">
                        <h6>修正の必要があります！</h6>
                        <ul>
                            <li v-for="(problem, idx) in problems" :key="idx">
                                <span>{{ problem.line }}</span><span v-for="(p, idx) in problem.detail" :key="idx">
                                    <span :style="{color: p.color}">←{{ p.text }}</span>
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div v-if="message">{{message}}</div>
                </div>
            </div>
        </section>

    </div>
    <!-- ///////////////////////////////////////////////////////////////

        JavaScript

    /////////////////////////////////////////////////////////////// -->
    <script type="module">

        import {Entry, EntryAddress} from "../../assets/common.js";

        import Vue from 'https://cdn.jsdelivr.net/npm/vue@2.7.4/dist/vue.esm.browser.js'
        import {ReferenceChecker, GroupingChecker} from "./src/reference/src.js";

        const vmCheckRefs = new Vue({
            el: "#checkRefs",
            data: {
                content: "",
                lostTo: [],
                lostFrom: [],
                adjacent: [],
                ungrouped: [],
                conflicts: [],
                message: ""
            },
            computed: {
                contentLines: function() {
                    return this.content.split(/\n/).map(line => String(line));
                },
                isPerfect: function() {
                    return (this.lostTo.length + this.lostFrom.length + this.adjacent.length + this.ungrouped.length + this.conflicts.length) == 0;
                }
            },
            methods: {
                reset: function() {
                    this.lostTo = [];
                    this.lostFrom = [];
                    this.adjacent = [];
                    this.ungrouped = [];
                    this.conflicts = [];
                    this.message = "";
                },
                check: function() {
                    this.reset();
                    const refChecker = new ReferenceChecker(this.contentLines);
                    refChecker.goalLostReference().forEach(x => {
                        this.lostTo.push(x);
                    });
                    refChecker.requiredFromReference().forEach(x => {
                        this.lostFrom.push(x);
                    });
                    refChecker.findAdjacent().forEach(x => {
                        this.adjacent.push(x);
                    });
                    const groupChecker = new GroupingChecker(this.contentLines);
                    groupChecker.getUngrouped().forEach(x => {
                        this.ungrouped.push(x);
                    });
                    groupChecker.getConflicting().forEach(x => {
                        this.conflicts.push(x);
                    });
                    if (this.isPerfect) {
                        this.message = "問題は見当たりません！ 完璧かもしれません！";
                    }
                }
            }
        });

        Vue.component("ref-lost-to", {
            props: {
                lostTo: {
                    type: Array,
                    require: true
                }
            },
            template: `
            <div>
            <h6>見よ項目があるのに参照先に括弧で付記されていないものがあります！</h6>
            <table>
                <thead><tr>
                    <th>見よ項目</th>
                    <th>ヌケ</th>
                </tr></thead>
                <tbody>
                    <tr v-for="(lt, idx) in lostTo" :key="idx">
                        <td>{{ lt.problem }}</td>
                        <td>{{ lt.require }}</td>
                    </tr>
                </tbody>
            </table>
            </div>`
        })

        Vue.component("ref-lost-from", {
            props: {
                lostFrom: {
                    type: Array,
                    require: true
                }
            },
            template: `
            <div>
            <h6>参照元として括弧書きされているのに見よ項目がないものがあります！</h6>
            <table>
                <thead><tr>
                    <th>項目</th>
                    <th>ヌケ</th>
                </tr></thead>
                <tbody>
                    <tr v-for="(lf, idx) in lostFrom" :key="idx">
                        <td>{{ lf.problem }}</td>
                        <td><ul>
                            <li v-for="(rq, idx) in lf.require" :key="idx">{{ rq.from }}&#12288;&srarr;{{ rq.to }}</li>
                        </ul></td>
                    </tr>
                </tbody>
            </table>
            </div>`
        })

        Vue.component("ref-ungrouped", {
            props: {
                ungroupedRefs: {
                    type: Array,
                    require: true
                }
            },
            template: `
            <div>
            <h6>見よ先項目が名寄せされずに残っています！</h6>
            <table>
                <thead><tr>
                    <th>見よ項目</th>
                    <th>モレ</th>
                </tr></thead>
                <tbody>
                    <tr v-for="(ug, idx) in ungroupedRefs" :key="idx">
                        <td>{{ ug.name }}</td>
                        <td><ul>
                            <li v-for="(d, idx) in ug.detail" :key="idx">{{ d }}</li>
                        </ul></td>
                    </tr>
                </tbody>
            </table>
            </div>`
        })

        Vue.component("ref-conflict", {
            props: {
                conflictRefs: {
                    type: Array,
                    require: true
                }
            },
            template: `
            <div>
            <h6>見よ項目が本項目として残っています！</h6>
            <table>
                <thead><tr>
                    <th>見よ項目</th>
                    <th>モレ</th>
                </tr></thead>
                <tbody>
                    <tr v-for="(cf, idx) in conflictRefs" :key="idx">
                        <td>{{ cf.name }}</td>
                        <td><ul>
                            <li v-for="(d, idx) in cf.detail" :key="idx">{{ d }}</li>
                        </ul></td>
                    </tr>
                </tbody>
            </table>
            </div>`
        })

        Vue.component("ref-adjacent", {
            props: {
                adjacentRefs: {
                    type: Array,
                    require: true
                }
            },
            template: `
            <div>
            <h6>見よ項目と見よ先項目が隣接しているものがあります！</h6>
            <ul>
                <li v-for="(ar, idx) in adjacentRefs" :key="idx">{{ ar }}</li>
            </ul>
            </div>`
        })

        import {CheckChild} from "./src/child/src.js"

        const vmCheckChild = new Vue({
            el: "#checkChild",
            data: {
                content: "",
                picked: "all",
                found: []
            },
            computed: {
                contentLines: function() {
                    return this.content.split(/\n/).map(line => String(line));
                },
            },
            methods: {
                reset: function() {
                    this.found = [];
                },
                check: function() {
                    this.reset();
                    const checker = new CheckChild(this.contentLines, this.picked);
                    checker.findPossibles().forEach(x => {
                        this.found.push(x);
                    });
                }
            }
        });

        class AddressChecker {
            constructor(s) {
                const entry = new Entry(s);
                this.nombres = new EntryAddress(entry.address).nombres;
                this.problems = [];
            }

            checkSort() {
                if (this.nombres.length < 2) {
                    return;
                }
                for (let i = 0; i < this.nombres.length - 1; i++) {
                    if (this.nombres[i].intValue >= this.nombres[i + 1].intValue) {
                        this.problems.push({
                            "color": "red",
                            "text": "順番！"
                        });
                    }
                }
            }

            checkHyphen() {
                if (this.nombres.length < 3) {
                    return;
                }
                for (let i = 0; i < this.nombres.length - 2; i++) {
                    const current = this.nombres[i];
                    const next1 = this.nombres[i + 1];
                    const next2 = this.nombres[i + 2];
                    if (current.intValue + 1 == next1.intValue && current.intValue + 2 == next2.intValue) {
                        if (!next1.hyphenated) {
                            this.problems.push({
                                "color": "blue",
                                "text": "連続！"
                            });
                        }
                    }
                }
            }

        }

        function grepInvalidNombreLine(lines) {
            return lines.filter(x => String(x).trim()).map(line => {
                const checker = new AddressChecker(line);
                checker.checkSort();
                checker.checkHyphen();
                if (checker.problems.length > 0) {
                    return {
                        "line": line,
                        "detail": checker.problems
                    };
                }
                return null;
            }).filter(Boolean);
        }

        const vmCheckNombre = new Vue({
            el: "#checkNombre",
            data: {
                content: "",
                message: "",
                problems: [],
            },
            computed: {
                contentLines: function() {
                    return this.content.split(/\n/).map(line => String(line));
                },
            },
            methods: {
                reset: function() {
                    this.message = "";
                    this.problems = [];
                },
                check: function(){
                    this.reset();
                    grepInvalidNombreLine(this.contentLines).forEach(x => {
                        this.problems.push(x);
                    });
                    if(!this.problems.length) {
                        this.message = "問題は見当たりません！";
                    }
                }
            }
        });

    </script>
</body>

</html>