<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>事前準備</title>
    <base target="_blank">
    <link rel="shortcut icon" href="../../assets/favicon.ico">
    <link rel="stylesheet" type="text/css" href="../../assets/almond.lite.css">
    <link rel="stylesheet" type="text/css" href="../../assets/additional.css">
</head>

<body>
    <div class="container">

        <h1>事前準備ツール</h1>

        <section>
            <h2>索引拾いのテンプレート生成</h2>
            <div id="newTemplate">
                <div class="ui">
                    <textarea placeholder="paste here!" v-model="content"></textarea>
                    <button @click="generate">実行</button>
                </div>
                <div v-if="lines.length">
                    <div class="result-markup limit-height">
                        <table>
                            <thead>
                                <tr>
                                    <th>ID</th><th>index</th><th>ページ</th><th>項目</th><th>見よ先</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="(line, idx) in lines" :key="idx">
                                    <td>{{ line.id }}</td>
                                    <td>{{ line.pageIdx }}</td>
                                    <td>{{ line.page }}</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <copy-button :copy-func="copy" :copied="copied"></copy-button>
                </div>
            </div>
            <img src="./image/img_newtemplate.png">
            <ul>
                <li><code>個数</code>列：見よ項目がある場合、見よ先項目とのペアで1つとカウント</li>
            </ul>
            <details>
                <summary>条件付き書式の設定</summary>
                <img src="./image/img_generate-index.png">
                <em><code>index</code>列に条件付き書式で<code>偶数の場合に背景色変更</code>という設定をするとページの変わり目が見やすくなり便利です。</em>
                <img src="./image/img_generate-index-rule.png">
            </details>
        </section>
        <section>
            <h2>入力テンプレートの事前整形</h2>
            <div id="preFormat">
                <div class="ui">
                    <textarea placeholder="paste here!" v-model="content"></textarea>
                    <button @click="format">実行</button>
                </div>

                <div class="caption">
                    <ul>
                        <li>項目を左列に、ページを右列に配置</li>
                        <li><code>見よ先</code>が入力されている場合：
                            <ul>
                                <li><code>　→</code>でつないで見よ項目を作成</li>
                                <li>ノンブルを削除</li>
                                <li>代わりに同じノンブルで見よ先項目を作成</li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <div v-if="lines.length">
                    <div class="result-markup limit-height">
                        <table>
                            <thead>
                                <tr>
                                    <th>項目</th><th>ノンブル</th>
                                </tr>
                            </thead>
                            <tbody><tr v-for="(item, idx) in lines" :key="idx">
                                <td>{{item.name}}</td>
                                <td>{{item.nombre}}</td>
                            </tr></tbody>
                        </table>
                    </div>
                    <copy-button :copy-func="copy" :copied="copied"></copy-button>
                </div>
            </div>

            <img src="./image/img_preformat.png">
        </section>
    </div>
    <!-- ///////////////////////////////////////////////////////////////

        JavaScript

    /////////////////////////////////////////////////////////////// -->
    <script src="https://cdn.jsdelivr.net/npm/vue@3.2.37/dist/vue.global.js"></script>
    <script type="module">

        import {Util} from "../../assets/common.js";

        const copyButton = {
            props: {
                copyFunc: {
                    type: Function,
                    require: true
                },
                copied: {
                    type: Boolean,
                    require: true
                }
            },
            template: `
            <button @click="copyFunc" :class="{done:copied}">コピー</button>
            `
        };

        function generateTemplare(lines) {
            const stack = [];
            let pageIdx = 0;
            lines.filter(line => line).forEach(line => {
                const [page, counter, ...rest] = line.split("\t");
                const nItem = Util.toHalfWidth(counter);
                if (Number(nItem) > 0) {
                    pageIdx += 1;
                    for (let i = 0; i < Number(nItem); i++) {
                        stack.push({
                            "id": String(stack.length + 1),
                            "pageIdx": String(pageIdx),
                            "page": String(page)
                        });
                    }
                }
            });
            return stack;
        }

        ////////////////////////////////////////////////////
        // テンプレート生成
        ////////////////////////////////////////////////////

        const vmNewTemplate = Vue.createApp({
            data: function () {
                return {
                    content: "",
                    lines: [],
                    copied: false,
                }
            },
            computed: {
                contentLines: function() {
                    return this.content.split(/\n/).map(line => String(line));
                },
            },
            components: {
                "copy-button": copyButton
            },
            methods: {
                reset: function(){
                    this.lines = [];
                    this.copied = false;
                },
                generate: function() {
                    this.reset();
                    generateTemplare(this.contentLines).forEach(x => {
                        this.lines.push(x);
                    });

                },
                copy: function() {
                    const conc = ["ID\tindex\tページ\t項目\t見よ先"].concat(this.lines.map(x => `${x.id}\t${x.pageIdx}\t${x.page}\t\t`))
                    const joined = conc.join("\n");
                    Util.copyToClipboard(joined);
                    this.copied = true;
                }
            }
        }).mount("#newTemplate");

        function formatIndexTemplate(lines) {
            const stack = [];
            lines.filter(x => x.trim()).forEach(line => {
                const [nombre, name, referTo, ...rest] = line.split("\t").map(x => x.trim());
                const nStr = String(Util.toHalfWidth(nombre));
                if (String(referTo).length > 0) {
                    stack.push({
                        "nombre": "",
                        "name": `${name}\u3000→${referTo}`,
                    });
                    stack.push({
                        "nombre": nStr,
                        "name": `${referTo}\uff08${name}\uff09`,
                    });
                }
                else {
                    if (String(name).length > 0) {
                        stack.push({
                            "nombre": nStr,
                            "name": name,
                        });
                    }
                }
            });
            return stack;
        }

        ////////////////////////////////////////////////////
        // テンプレートの事前整形
        ////////////////////////////////////////////////////

        const vmPreformat = Vue.createApp({
            data: function () {
                return {
                    content: "",
                    lines: [],
                    copied: false,
                }
            },
            computed: {
                contentLines: function() {
                    return this.content.split(/\n/).map(line => String(line));
                },
            },
            components: {
                "copy-button": copyButton
            },
            methods: {
                reset: function(){
                    this.lines = [];
                    this.copied = false;
                },
                format: function() {
                    this.reset();
                    formatIndexTemplate(this.contentLines).forEach(x => {
                        this.lines.push(x);
                    });
                },
                copy: function() {
                    const joined = this.lines.map(x => `${x.name}\t${x.nombre}`).join("\n");
                    Util.copyToClipboard(joined);
                    this.copied = true;
                }
            }
        }).mount("#preFormat");

    </script>
</body>

</html>