@charset "UTF-8";
@font-face {
  font-family: 'Dela Gothic One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/delagothicone/v8/~ChEKD0RlbGEgR290aGljIE9uZSAA.ttf) format('truetype');
}
html {
  height: 100%;
}
body {
  height: 100%;
  font-family: 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif;
  font-size: 18px;
  background-color: #073642;
  color: #073642;
  margin: 0;
}
.container {
  background: #e1e7e6;
  width: 80%;
  max-width: 800px;
  min-height: 100%;
  margin: auto;
  padding: 20px;
}
.outline {
  max-width: 400px;
  margin: 0 auto;
}
.outline li {
  font-weight: bold;
  color: #586e75;
}
.outline li a:focus {
  border: 1px solid #859900;
  border-radius: 4px;
  padding: 2px;
  box-shadow: 0 0 5px 1px rgba(133, 153, 0, 0.6);
}
h1 {
  font-family: 'Dela Gothic One', cursive;
  font-size: 60px;
  color: #dc322f;
  max-width: 100%;
  text-align: center;
}
h2 {
  margin: 2rem 0 1rem 0;
  border-bottom: solid 1px #268bd2;
  font-size: 1.25rem;
}
h3 {
  font-size: 20px;
  margin: 2rem 0 1rem 0;
  border-bottom: 4px double #dc322f;
}
h4 {
  border-bottom: 1px solid #dc322f;
  font-size: 1.25rem;
}
.caption {
  margin: 10px;
}
.caption .imagebox {
  position: relative;
  margin: 1rem auto;
  max-width: 90%;
  padding: 0.75rem;
  border: 1px solid #839496;
  border-radius: 8px;
}
.caption .imagebox img {
  display: block;
  max-width: 100%;
  margin: 1rem auto;
}
.caption .imagebox .boxtitle {
  color: #839496;
  font-size: 0.9rem;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 4px;
  background-color: #e1e7e6;
  transform: translateY(-50%) translateX(1em);
}
.caption .imagebox .diff {
  display: inline-flex;
}
.caption .imagebox .diff .arrow {
  height: 30px;
  margin: auto;
  padding: 0.5rem;
}
.caption .imagebox .diff .arrow::after {
  content: "\27A1";
  font-weight: bold;
  font-size: 30px;
}
a {
  color: #268bd2;
  text-decoration: none;
}
p {
  margin: 0 24px;
}
.blue {
  color: #268bd2;
}
.red {
  color: #dc322f;
}
code {
  font-family: "Consolas", "Courier New", monospace;
  font-size: 0.9em;
  background: #eee8d5;
  color: #002b36;
  border: 1px solid #586e75;
  border-radius: 2px;
  padding: 0 2px;
  margin: 0 2px;
}
ul {
  text-align: justify;
}
ul li::marker {
  color: #839496;
}
ul ul {
  padding-left: 2em;
}
ol li::marker {
  color: #839496;
}
.caption > ul {
  margin: 0 24px;
}
.promotion p {
  text-align: center;
}
textarea {
  box-sizing: border-box;
  display: block;
  border: 1px dotted #dc322f;
  border-radius: 6px;
  height: 250px;
  width: 100%;
  padding: 0.5em;
  word-break: break-all;
  white-space: pre;
}
textarea:focus {
  border: 1px solid #dc322f;
  outline: none;
  box-shadow: 0 0 5px 1px rgba(220, 50, 47, 0.6);
}
input {
  display: inline-block;
}
input[type="button"] {
  height: 30px;
  min-width: 50px;
  background: #eee8d5;
  color: #002b36;
  border-radius: 4px;
}
input[type="number"] {
  width: 3em;
  border: 1px solid #d33682;
  border-radius: 2px;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 10px 0;
  font-size: 0.9rem;
  max-width: 100%;
  display: block;
  max-height: 400px;
  overflow-y: scroll;
}
table td,
table th {
  min-width: 80px;
  padding: 2px;
  border: 1px solid #586e75;
}
.ui {
  margin: 1rem;
  padding: 1rem;
  border: solid 1px #859900;
  border-radius: 8px;
}
.ui .horizontal {
  display: inline-flex;
  width: 100%;
}
.ui .horizontal .vertical {
  display: block;
  width: 50%;
  text-align: end;
  margin: 0 4px;
}
.ui .horizontal .vertical textarea {
  margin: 4px auto;
}
.warning {
  font-size: 12px;
  margin-top: 100px;
}
.warning hr {
  border: none;
  border-top: 1px solid #839496;
}
