@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+JP&family=Noto+Sans+JP:wght@400;700&display=swap");

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  margin: 0 auto;
  padding: 0;
}

#app {
  position: relative;
  max-width: 680px;
  padding: 0 8px 40vh 8px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #3e3e3e;
}

h1 {
  font-weight: bold;
  font-size: 2.5rem;
  margin-bottom: 1.5em;
}

h2 {
  font-size: 2rem;
  margin-top: 6rem;
  margin-bottom: 6rem;
  border-left: 8px solid #d0cfcf;
  padding: 4px 0.25em;
  line-height: 1.5;
}

h3 {
  font-size: 1.5rem;
  margin-top: 6rem;
  margin-bottom: 4rem;
}

p,
li {
  line-height: 2;
}

code {
  font-family: "IBM Plex Sans JP", ui-monospace, Consolas, monospace;
  font-size: 0.95em;
}

hr {
  margin-top: 60px;
  margin-bottom: 90px;
}

.limit-height {
  max-height: 300px;
  overflow-y: auto;
  margin: 12px auto;
}

img {
  max-width: 600px;
  box-shadow: 1px 1px 5px 1px #ccc;
  border-radius: 6px;
  margin: 1.75rem auto;
}

ol li::marker {
  font-weight: bold;
  font-size: 1.2rem;
  color: #3e3e3e;
}

li img {
  margin: 14px 0;
}

button {
  min-width: 120px;
}

textarea {
  tab-size: 8em;
}
