<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>並べ替え</title>
    <base target="_blank">
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" type="text/css" href="../almond.lite.css">
    <link rel="stylesheet" type="text/css" href="../additional.css">
</head>

<body>
    <!-- ============================== -->
    <div class="container">

        <h1>並べ替え</h1>

        <div id="app">
            <div class="ui">
                <textarea placeholder="paste here!" v-model="content"></textarea>
                <button @click="sortLines">実行</button>
            </div>

            <ul>
                <li>下図のように<code>項目</code><code>読み</code><code>配列読み</code>の3列を Excel から貼り付けてください。</li>
                <li>以下の基準で行をソートします。
                    <ul>
                        <li>最優先は<code>配列読み</code>の情報。</li>
                        <li><code>配列読み</code>が同じ場合は<code>読み</code>で昇順ソート。</li>
                        <li><code>読み</code>も同じ場合は<code>項目</code>の文字コード昇順（同じ文字種がまとまります）。</li>
                    </ul>
                </li>
            </ul>

            <div class="result-markup limit-height">
                <table>
                    <thead>
                        <tr>
                            <th>項目</th>
                            <th>読み</th>
                            <th>配列読み</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(line, idx) in lines" :key="idx">
                            <td>{{line.item}}</td>
                            <td>{{line.reading}}</td>
                            <td>{{line.normalized}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <button @click="copy">表をコピー</button>
        </div>

        <img src="./image/img_sort.png">

    </div>
    <!-- ============================== -->
    <script type="module">

        import Vue from 'https://cdn.jsdelivr.net/npm/vue@2.7.4/dist/vue.esm.browser.js'

        import {Util, setNavi} from "../common.js";
        setNavi();

        import {Sorter} from "./src.js";

        const vm = new Vue({
            el: "#app",
            data: {
                content: "",
                lines: []
            },
            computed: {
                contentLines: function() {
                    return this.content.split(/\n/).map(line => String(line));
                },
            },
            methods: {
                reset: function() {
                    this.lines = [];
                },
                sortLines: function() {
                    this.reset();
                    const sorter = new Sorter();
                    sorter.fromTsvLines(this.contentLines);
                    sorter.execute().forEach(x => {
                        this.lines.push(x);
                    });
                },
                copy: function() {
                    const joined = this.lines.map(x => `${x.Item}\t${x.Reading}\t${x.Norm}`).join("\n");
                    Util.copyToClipboard(joined);
                }
            }
        });

    </script>
</body>

</html>