<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <title>子項目候補の確認</title>
    <base target="_blank">
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" type="text/css" href="../almond.lite.css">
    <link rel="stylesheet" type="text/css" href="../additional.css">
</head>

<body>
    <!-- ============================== -->
    <div class="container">

        <h1>子項目候補の確認</h1>

        <div id="app">
            <div class="ui">
                <textarea class="inputLines" placeholder="paste here!" v-model="content"></textarea>
                <button @click="check">実行</button>

                <div>
                    <input type="radio" id="search-tail" value="tail" v-model="picked"><label for="search-tail">末尾一致</label>
                    <input type="radio" id="search-head" value="head" v-model="picked"><label for="search-head">先頭一致</label>
                    <input type="radio" id="search-all" value="all" v-model="picked"><label for="search-all">両方</label>
                </div>

            </div>
            <!-- <input type="button" value="プリント用ページを開く" id="printButton"> -->
            <div class="result-markup">
                <table id="src-table">
                    <thead>
                        <tr>
                            <th>項目</th>
                            <th>子項目候補</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(fd, idx) in found" :key="idx">
                            <td>{{ fd.parent }}</td>
                            <td><ul>
                                <li v-for="(c, idx) in fd.children" :key="idx">
                                    <span><mark v-if="c.pre.length">{{c.pre}}</mark>{{c.rest}}<mark v-if="c.post.length">{{c.post}}</mark></span>
                                </li>
                            </ul></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <!-- ============================== -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script type="module">
        import {setNavi} from "../common.js"
        setNavi();

        import {CheckChild} from "./src.js"


        const vm = new Vue({
            el: "#app",
            data: {
                content: "",
                picked: "all",
                found: []
            },
            computed: {
                contentLines: function() {
                    return this.content.split(/\n/).map(line => String(line));
                },
            },
            methods: {
                reset: function() {
                    this.found = [];
                },
                check: function() {
                    this.reset();
                    const checker = new CheckChild(this.contentLines, this.picked);
                    checker.findPossibles().forEach(x => {
                        this.found.push(x);
                    });
                }
            }
        });

    </script>
</body>

</html>